
    <div class="container-fluid footer bg-dark text-light" style="text-align: center; padding-bottom:1rem;">
      <h3>CONTACT US</h3>
      <h5>seprojectfwms@gmail.com</h5>
      <p>© Copyright 2021 Feedly</p>
    </div>
  </body>
</html>
